PORT=4000
MONGODB_URI=mongodb+srv://knet:ncZlnmaAXL76096k@cluster0.bhix9ou.mongodb.net/?appName=Cluster0
MONGODB_URI_ONLINE=mongodb+srv://knet:ncZlnmaAXL76096k@cluster0.bhix9ou.mongodb.net/?appName=Cluster0
JWT_SECRET=change_me
TOKEN_EXPIRES_IN=1d
ADMIN_INITIAL_PASSWORD=admin123
CLIENT_ORIGIN=http://localhost:5173,http://localhost:3000
PUBLIC_BASE_URL=http://localhost:4000
CLOUDINARY_CLOUD_NAME=dtyrvinkf
CLOUDINARY_API_KEY=157192826962218
CLOUDINARY_API_SECRET=vhyNw74PSqH24znEh5Q3e-oOxbY
